@model IEnumerable<BTLWEBNC_WEBNOITHAT.Models.TBlog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scontent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenFileAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idtag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scontent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenFileAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idtag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idblog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idblog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idblog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
