@model TBlog

<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="blog__item">
        <div class="blog__item__pic">
            <img src="~/blog/@Model.TenFileAnh" alt="@Model.TieuDe">
        </div>
        <div class="blog__item__text">
            <ul>
                <li><i class="fa fa-calendar-o"></i> @Model.NgayDang</li>
                <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@Model.Idblog">@Model.TieuDe</a></h5>
            <p>@Model.Scontent</p>
            
        </div>
    </div>
</div>