@model BTLWEBNC_WEBNOITHAT.Models.TBlog
@{
    ViewData["Title"] = Model.TieuDe;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
 }   

 @*<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="blog__details__text">
                <img src="~/blog/@Model.TenFileAnh" alt="@Model.TieuDe">
                <p>@Model.Content</p>
            </div>

            <div class="blog__details__author">
                <div class="blog__details__author__pic">
                    <!-- Assuming you have a property like AuthorImage in your TBlog model -->
                    <img src="~/blog/@Model.TenFileAnh" alt="Author">
                </div>
                <div class="blog__details__author__text">
                    <h6>@Model.TacGia</h6>
                    <span>Author</span>
                </div>
            </div>

            <div class="blog__details__widget">
                <ul>
                    <li><span>Categories:</span> Food</li>
                    <!-- Assuming you have a property like Tags in your TBlog model -->
                    <li><span>Tags:</span> @Model.Idtag</li>
                </ul>
                <!-- Add social media links or any other widget details as needed -->
            </div>
        </div>
    </div>
</div>
*@


<!DOCTYPE html>
<html lang="zxx">

<head>

</head>
<body>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../images/funir-images/banner2.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Blog</h2>
                        <div class="breadcrumb__option">
                            <a asp-controller="home" asp-action="Index">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Bed (20)</a></li>
                                <li><a href="#">Designer (5)</a></li>
                                <li><a href="#">Kitchen (9)</a></li>
                                <li><a href="#">Interiors (10)</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                @{
                                    using (var context = new QLBanNoiThatContext()) 
                                    {
                                        var latestBlogs = context.TBlogs.OrderByDescending(b => b.NgayDang)
                                                                        .Take(3)
                                                                        .ToList();

                                        foreach (var blogModel in latestBlogs)
                                        {
                                            @await Html.PartialAsync("_PartialBlogPost",blogModel)
                                        }
                                    }
                                    
                                }
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">Style</a>
                                <a href="#">Home Design</a>
                                <a href="#">Vintage</a>
                                <a href="#">Modern</a>
                                <a href="#">Kitchen</a>
                                <a href="#">Wood</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <h4 style="margin-bottom: 5px;">@Model.TieuDe</h4>
                        <span style="margin-bottom: 10px;">@Model.NgayDang</span>
                        <h5 style="margin-bottom: 20px;">@Model.Scontent</h5>
                        
                        <img src="~/blog/@Model.TenFileAnh" alt="Author" style="margin-bottom: 20px;">
                        <p>@Model.Content</p>
                        
                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    
                                    <div class="blog__details__author__text">
                                        <h6>@Model.TacGia</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Categories:</span> Designer</li>
                                        <li><span>Tags:</span> All, Trending, Furniture, Decor, Luxury</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>Post You May Like</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    using (var context = new QLBanNoiThatContext()) 
                    {
                        var latestBlogs = context.TBlogs.OrderByDescending(b => b.Idblog)
                                                        .Take(3)
                                                        .ToList();

                        foreach (var blogModel in latestBlogs)
                        {
                            @await Html.PartialAsync("PartialRecentNewBlog",blogModel)
                        }
                    }
                                    
                }
                
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
    <!-- Blog Section End -->
</body>
</html>